* {
    box-sizing: border-box;
  }
  
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
  }

  .Board{
    background-color: white;
  }
  
  .colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }

  
  .color.black { background-color: pink; border-radius: 50%; margin: 5px;}
  .color.red { background-color: red; border-radius: 50%; margin: 5px;}
  .color.green { background-color: green; border-radius: 50%; margin: 5px;}
  .color.blue { background-color: blue; border-radius: 50%; margin: 5px;}
  .color.yellow { background-color: yellow; border-radius: 50%; margin: 5px;}